.author {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.author__picture {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin: 0 30px 0 0;
}

.author__info-title {
  display: flex;
  flex-direction: row;
  margin-top: 21.75px;
}

.author__info-name {
  margin: 0 17px 0 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.3333;
  width: 208px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.author__info-job {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
}

.author__editbutton {
  align-self: center;
  background: url(../images/Edit_Button_WHITE.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}

.author__editbutton:hover {
  opacity: 60%;
}

.author__add-button {
  margin-left: auto;
  margin-top: 38.75px;
  background: url(../images/add_button_WHITE.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 50px;
}

.author__add-button:hover {
  opacity: 60%;
}

.author__add-button_resolution_725 {
  display: none;
}

@media screen and (min-width: 494px) and (max-width: 845px) {
  .author__info-name {
    font-size: 30px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 320px) and (max-width: 493px) {
  .author__info-name {
    font-size: 20px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 320px) and (max-width: 725px) {
  .author__add-button {
    display: none;
  }
  .author__add-button_resolution_725 {
    display: flex;
    width: 282px;
    height: 50px;
    background: url(../images/add_Button_WHITE320.svg);
    margin: 0;
    background-repeat: no-repeat;
  }

  .author__add-button_resolution_725:hover {
    opacity: 60%;
  }

  .author {
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    width: 282px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
  }

  .author__picture {
    width: 120px;
    height: 120px;
    align-self: center;
    margin: 0 0 14px;
  }

  .author__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .author__info-name {
    font-size: 22px;
    line-height: 1.73;
    font-weight: 500;
    height: 38px;
    align-self: center;
  }

  .author__info-job {
    font-size: 18px;
    margin-bottom: 36px;
  }
  .author__editbutton {
    background-size: 18px;
    width: 18px;
  }

  .author__editbutton:hover {
    opacity: 60%;
  }

  .author__info-title {
    margin: 0;
  }
}
