.form__input-error {
  display: flex;
  color: rgba(0, 0, 0, 0);
  font-size: 12px;
  font-family: "Inter Regular";
  line-height: 1.21;
  opacity: 100%;
  height: 29.02px;
}

.form__input_type_error {
  border-bottom-color: red;
}

.form__input-error_active {
  display: flex;
  height: 29.03px;
  /* padding-top: 6px; */
  color: red;
  font-size: 12px;
  font-family: "Inter Regular";
  line-height: 1.21;
}

.form__submit_inactive {
  background-color: #ffffff;
  color: #cccccc;
  border: 1px rgba(0, 0, 0, 0.2) solid;
}

.form__submit_inactive:disabled {
  background-color: #ffffff;
  color: #cccccc;
  border: 1px rgba(0, 0, 0, 0.2) solid;
}
