.new-picture {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  box-sizing: border-box;
  padding: 0;
  z-index: 1000;
}

.new-picture__title {
  font-family: "Inter Black";
  font-size: 24px;
  line-height: 29.05px;
}

.new-picture__container {
  background: #fff;
  width: 430px;
  height: 330px;
  color: #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 34px 36px 36px;
  box-sizing: border-box;
  position: relative;
}

.new-picture__closebuttton {
  position: absolute;
  top: -50px;
  right: -50px;
  width: 57.56px;
  height: 57.56px;
  display: flex;
  background: url(../images/close_button_WHITE.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
}

.new-picture__closebuttton:hover {
  opacity: 60%;
}

.new-picture__container-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
}

.new-picture__container-town-name {
  margin-top: 48px;
  padding: 0;
  outline: 0;
  border-width: 0 0 1px;
  border-color: rgba(0, 0, 0, 0.2);
  height: 27.26px;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
}

.new-picture__container-town-name::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #c4c4c4;
}

.new-picture__container-img-URL {
  margin: 0;
  padding: 0;
  outline: 0;
  border-width: 0 0 1px;
  border-color: rgba(0, 0, 0, 0.2);
  height: 27.34px;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
}

.new-picture__container-img-URL::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #c4c4c4;
}

.new-picture__container-button {
  margin-top: auto;
  height: 50.15px;
  border: none;
  color: #fff;
  background-color: #000;
  font-family: "Inter Regular";
  font-size: 18px;
  line-height: 1.21;
  border-radius: 2px;
}

.new-picture__container-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 1281px) {
  .new-picture {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 321px) and (max-width: 540px) {
  .new-picture__container {
    width: 88.125%;
  }

  .new-picture-closebuttton {
    top: -50px;
    right: 2.23px;
    width: 36.77px;
    height: 36.77px;
    background: url(../images/close_button_WHITE320.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (width: 320px) {
  .new-picture__container {
    width: 282px;
    height: 322px;
  }

  .new-picture__container-title {
    font-size: 18px;
    line-height: 1.21;
  }

  .new-picture__container-name {
    margin: 76px 0 0;
    height: 26px;
  }

  .new-picture__container-button {
    font-size: 14px;
    line-height: 1.21;
  }

  .new-picture-closebuttton {
    top: -50px;
    right: 2.23px;
    width: 36.77px;
    height: 36.77px;
    background: url(../images/close_button_WHITE320.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
