.prompted-image {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
}

.prompted-image__container {
  width: 50%;
  color: #000;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  align-items: center;
}

.prompted-image__container-picture {
  width: 100%;
  margin: auto;
  display: flex;
}

.prompted-image__container-label {
  margin: 10px 0 0;
  width: 100%;
  height: 12px;
  font-size: 16px;
  line-height: 1.21;
  color: #fff;
  align-items: center;
  display: flex;
}

.prompted-image__container-closebuttton {
  position: absolute;
  top: -47px;
  right: -45.56px;
  width: 57.56px;
  height: 57.56px;
  display: flex;
  background: url(../images/close_button_WHITE.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.prompted-image__container-closebuttton:hover {
  opacity: 60%;
}

@media screen and (min-width: 1281px) {
  .prompted-image {
    width: 1280px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 321px) and (max-width: 540px) {
  .prompted-image__container {
    width: 88.125%;
  }

  .prompted-image__container-closebuttton {
    top: -50px;
    right: 2.23px;
    width: 36.77px;
    height: 36.77px;
    background: url(../images/close_button_WHITE320.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (width: 320px) {
  .prompted-image__container {
    width: 282px;
    height: 322px;
  }

  .prompted-image__container-closebuttton {
    top: -50px;
    right: 2.23px;
    width: 36.77px;
    height: 36.77px;
    background: url(../images/close_button_WHITE320.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
