@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/content.css);
@import url(../blocks/author.css);
@import url(../blocks/venues.css);
@import url(../blocks/venue.css);
@import url(../blocks/edit-info.css);
@import url(../blocks/new-picture.css);
@import url(../blocks/popup-delete.css);
@import url(../blocks/prompted-image.css);
@import url(../blocks/footer.css);
@import url(../blocks/form.css);
